/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

  /* header */





  .container {
    /* max-width: 1170px; */
    width: 100%;
    
    
}


 .logo {
    margin-left: 250px;
    margin-top: 29px;
   vertical-align: bottom;
   
     
}


.myheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


nav {
    /* display: inline-block; */
    vertical-align: middle;
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
 
 
}

.nav-all {
    margin-right: 250px;
    padding-bottom: 10px;
}




 ul {
    display: inline-block;
    
    
    
}


li {
    padding-left: 52px;
    display: inline-block;
    vertical-align: middle;
   
    
}

#hamburger-menu {
    
    display: inline-block;
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    display: none;
    margin-left: 50px;
    background: -webkit-gradient(
      linear, 
      left top, left bottom, 
      from(black), color-stop(20%, black), 
      color-stop(20%, white), color-stop(40%, white), 
      color-stop(40%, black), color-stop(60%, black), 
      color-stop(60%, white), color-stop(80%, white), 
      color-stop(80%, black), to(black)
    );
    background: -o-linear-gradient(
      top, 
      black, black 20%, 
      white 20%, white 40%, 
      black 40%, black 60%, 
      white 60%, white 80%, 
      black 80%, black 100%
    );
    background: linear-gradient(
      to bottom, 
      black, black 20%, 
      white 20%, white 40%, 
      black 40%, black 60%, 
      white 60%, white 80%, 
      black 80%, black 100%
    );
}


            /* first section */


.section-1{

    background-image: url("../images/girl.png");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    width: 1950px;
    height: 1050px;;
    margin-top: 25px;    
    background-size: contain;
    
}


.text-h1 {
    font-family: "arial";
    font-size: 78.74051666259766px;
    font-weight: 400;
    line-height: 52.95845413208008px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20%;
}

.text-p {

    font-family: "raleway";
    font-size: 18px;
    font-weight: 400;
    line-height: 37px;
    font-style: normal;
    text-align: left;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 2%;
}



.section-2 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}

.sec-2-div {
    width: 240px;
    margin-left: 250px;
    
    
}


.h2-discover{
    font-family: "raleway";
    font-size: 15.998350143432617px;
    font-weight: 400;
    line-height: 36.99618911743164px;
    font-style: normal;
    text-align: left;
    color: #8d8d8d;
    
}

.hot-services-h3 {
    font-family: "raleway";
    font-size: 25.9973201751709px;
    font-weight: 400;
    line-height: 36.99618911743164px;
    font-style: normal;
    text-align: left;
    color: #1a1a1b;
    padding-bottom: 25px
}


.lorem-p {
    font-family: "raleway";
    font-size: 15.998350143432617px;
    font-weight: 500;
    line-height: 21.997732162475586px;
    font-style: normal;
    text-align: left;
    color: #8d8d8d;
}


.wrapper{ 
    /* display: flex;
    flex-direction: row;
    flex-flow: column;
    gap: 40px; */
    display: inline;
   
    /* display: block; */
    
}

.card {
    /* position: absolute;
    bottom: -300px;
    right: 150px; */
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: column;
        flex-flow: column;
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 250px;
    margin-bottom: 50px;
}

.card-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
    width: 395px;
    
}

.card-1 p {
    font-family: "raleway";
    font-size: 15.998350143432617px;
    font-weight: 500;
    line-height: 21.997732162475586px;
    font-style: normal;
    text-align: left;
    color: #8D8D8D;
    padding-top: 7px;
    
}


.card-1 h4{
    font-family: "raleway";
    font-size: 17.998149871826172px;
    font-weight: 400;
    line-height: 21.997732162475586px;
    font-style: normal;
    text-align: left;
    color: #1a1a1b;
    padding-top: 20px;
}


.card-2 p {
    font-family: "raleway";
    font-size: 15.998350143432617px;
    font-weight: 500;
    line-height: 21.997732162475586px;
    font-style: normal;
    text-align: left;
    color: #8D8D8D;
    padding-top: 7px;
}

.card-2 h4{
    font-family: "raleway";
    font-size: 17.998149871826172px;
    font-weight: 400;
    line-height: 21.997732162475586px;
    font-style: normal;
    text-align: left;
    color: #1a1a1b;
    padding-top: 20px;
}


.card-2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
}

.img-resize{
    width: 250px;
}


